/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}

header h1 {
    margin: 0;
}

header h2 {
    margin: 0;
    font-weight: normal;
}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    border-bottom: solid 1px #333;
}

nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #000;
    color: #fff;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*----------- FORM STYLING --------------*/
.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem 2%;
}

.wf1 legend {
    color: #445ba9;
    padding: 0 0.5rem;
    /* adds padding to the left and right of text, moving line away */
}

.wf1 label {
    display: block;
    /* changes from inline to block, putting each label on own line */
    padding-top: 1rem;
    /* separates out labels so they aren't touching (not margin) */
    color: #9c2c13;
    font-size: 0.9rem;
}

/* now to fix the "audience" and "software needed" text spacing for the radial and checkboxes */
/* they are in div containers */
.wf1 div {
    padding-top: 1rem;
    color: #445ba9;
    /* using font size to match the labels above */
    font-size: 0.9rem;
}

/* Now to move label text above and left justified of the input fields */
.wf1 input[type="text"],
.wf1 input[type="tel"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 input[type="date"],
.wf1 select,
.wf1 input[type="number"] {
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    /* padding added to make them at least 44px tall for touch */
    padding: 0.75rem;
    color: #555;
    /* min width of 100% for phone screens, but limit to 400px for large screens */
    width: 100%;
    max-width: 400px;
    /* the code below overides the default browser styling */
    /* NOTE: this also removes the arrows in the dropdown so we add these back in html */
    appearance: none;
}

/* now to make it so the radio and checkboxes are not touching their text */
.wf1 input[type="radio"],
.wf1 input[type="checkbox"] {
    margin-right: 6px;
}

/* styling the input button */
.wf1 input[type="submit"] {
    border: none;
    padding: 0.8rem;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    width: 96%;
    max-width: 400px;
    /* now to correct the allignment of the submit button */
    /* -1rem moves right, 2% width matches the inputs above (96% +2% + 2%) */
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

/* next we will change the appearance of required inputs using a pseudoclass */
/* this will help the required areas stand out */
.wf1 input:required {
    border-bottom: solid 8px red;
}

.wf1 input:required:valid {
    border-bottom: solid 8px green;
}




/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}

/* last video = 7:30 */