@media (min-width: 740px) {
    main {
        position: relative;
    }

    .data,
    .weather,
    .places-temple,
    .places-park {
        display: block;
        background-color: rgba(240, 240, 240, 0.8);
        box-shadow: 0 0 30px;
        position: absolute;
        width: 300px;
    }

    .data,
    .places-temple {
        top: 65px;
        left: 15px;
    }

    .weather {
        right: 20px;
        bottom: 15px;
    }

    .places-park {
        top: 525px;
        left: 20px;
    }

    .weather h2::after {
        content: "   🌤️";
        margin-left: 1rem;
    }

    h2 {
        background-color: var(--cambodia-red);
        color: white;
        padding: 0.5rem 0.5rem;
        width: 200px;
        position: absolute;
        left: -23px;
        top: 8px;
        text-align: left;
    }

    .places-h2 {
        width: 300px;
    }

    .weather svg {
        display: none;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /*navigation button and list for large view*/
    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        /* flex: 1 1 100%; */
    }

    #menu {
        display: none;
    }

    /* .bottom-stripe {
        display: none;
    } */
}

/*------------ Large screens submit form--------------------*/
.wf1 {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
}

.stars-container {
    justify-content: space-between;
}

/*------------ Large screens places.html----------------------*/
/*places div holding photos*/
.places {
    margin-top: 2rem;
}