:root {
  --banner-color: rgb(73, 73, 151);
  --nav-color: rgb(70, 59, 59);
}

* {
  margin: 0;
}

header {
  background-color: var(--banner-color);
  text-align: center;
  color: white;
}

#course-title {
  display: block;
  font-size: 30px;
  padding: 1rem;
}

/* .name {
  font-size: 25px;
  color: yellow;
} */

nav {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: var(--nav-color);
  padding: 1rem;
}

nav a {
  flex: 1 1 auto;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: white;
}

nav a:hover {
  transform: scale(1.2);
  text-decoration: overline;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

main {
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: stretch;
  max-width: 900px;
  margin: 0 auto;
  gap: 0.5rem;
}

main h1 {
  font-weight: 100;
  grid-column: 1/3;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  border: 1px solid black;
  border-radius: 10px;
  gap: 0.5rem;
}

.card ul {
  align-self: center;
}

.card h2 {
  font-size: 20px;
  text-align: center;
  background-color: var(--banner-color);
  color: white;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card1 img {
  width: 150px;
  border: 1px solid lightgray;
}

.aboutMe-div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.aboutMe-div img {
  margin: 0 auto;
}

.slo-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5rem;
}

.slo-div h3 {
  grid-column: 1/3;
  text-align: center;
  border-bottom: 3px solid lightgray;
  margin-left: 2rem;
  margin-right: 2rem;
}

.slo-div figure {
  margin: auto 0;
}

.slo-div figcaption {
  font-size: 13px;
  text-align: center;
}

/*Below is the basic footer for all pages*/
footer {
  grid-column: 1/4;
  place-items: center;
  background-color: var(--banner-color);
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

footer p {
  text-align: center;
  color: white;
}

#lastModified {
  font-size: 14px;
  color: yellow;
}