:root {
  --banner-color: rgb(73, 73, 151);
  --nav-color: rgb(70, 59, 59);
  --background: #3EAF76;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------- BODY --------------*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* ----------------Header-------------------- */
header {
  color: white;
  display: grid;
  gap: 1rem;
  align-items: center;
  background-color: black;
  padding: .5rem 2%;
  text-align: center;
}


/*-----------------Changes/updates to Small--------------*/




/*--------------------Copied from Small--------------*/

/*----------- MAIN --------------*/
main {
  padding: 0 2%;
  min-height: 20rem;
}

/*----------- FORM STYLING --------------*/
.wf1 {
  background: linear-gradient(#3EAF76, #FFFFFF);
}

.wf1 label {
  display: block;
  /* changes from inline to block, putting each label on own line */
  padding-top: 1rem;
  /* separates out labels so they aren't touching (not margin) */
  font-size: 0.9rem;
}

/* now to fix the "audience" and "software needed" text spacing for the radial and checkboxes */
/* they are in div containers */
.wf1 div {
  padding-top: 1rem;
  /* using font size to match the labels above */
  font-size: 0.9rem;
}

/* Now to move label text above and left justified of the input fields */
.wf1 input[type="text"],
.wf1 input[type="date"],
.wf1 textarea,
.wf1 select {
  background-color: #eee;
  display: block;
  border: 1px solid #999;
  border-radius: 6px;
  /* padding added to make them at least 44px tall for touch */
  padding: 0.75rem;
  color: #555;
  /* min width of 100% for phone screens, but limit to 400px for large screens */
  width: 100%;
  max-width: 400px;
  /* the code below overides the default browser styling */
  /* NOTE: this also removes the arrows in the dropdown so we add these back in html */
  appearance: none;
}

/* now to make it so the checkboxes are not touching their text */
.wf1 input[type="checkbox"] {
  margin-right: 6px;
}

/* styling the input button */
.wf1 input[type="submit"] {
  border: 1px solid #999;
  padding: 1rem;
  background-image: linear-gradient(#3EAF76, #aa4f4f);
  color: #fff;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  /* now to correct the allignment of the submit button */
  /* -1rem moves right, 2% width matches the inputs above (96% +2% + 2%) */
  margin: 1rem 0 2rem 0;
  box-shadow: 1px 1px 4px #999;
}

/*-------------radio buttons----------*/
.stars-container {
  display: flex;
  justify-content: space-around;
}

.stars-container label {
  display: flex;
  flex-direction: column;
}


/*-----------Last Change-------------*/




/* next we will change the appearance of required inputs using a pseudoclass */
/* this will help the required areas stand out */
.wf1 input:required {
  border-bottom: solid 8px red;
}

.wf1 input:required:valid {
  border-bottom: solid 8px green;
}












/* ----------------Footer-------------------- */
footer {
  grid-column: 1/4;
  place-items: center;
  background-color: var(--banner-color);
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

footer p {
  text-align: center;
  color: white;
}

#lastModified {
  font-size: 14px;
  color: yellow;
}