:root {
  --cambodia-blue: #032EA1;
  --cambodia-red: #E00025;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, helvetica, sans-serif;
  margin: 1rem;
}

header {
  background-color: var(--cambodia-blue);
  text-align: center;
}

header h1 {
  color: white;
  padding: 1rem;
}

header div {
  padding: 0.5rem;
  background-color: var(--cambodia-red);
}

/* 🌤️ partly cloudy emoticon (large window) */

/*Below is the basic footer for all pages*/
footer {
  grid-column: 1/4;
  place-items: center;
  background-color: var(--cambodia-blue);
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

footer p {
  text-align: center;
  color: white;
}

#lastModified {
  font-size: 14px;
  color: yellow;
}