/* larger views *******************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        flex-direction: row;
        justify-content: flex-end;
    }

    /*do I need this?*/
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}


@media (min-width: 600px) {
    main {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}