:root {
    --banner-color: rgb(73, 73, 151);
    --nav-color: rgb(70, 59, 59);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* mobile *********************************/
header {
    color: white;
    display: grid;
    gap: 1rem;
    align-items: center;
    background-color: var(--banner-color);
    padding: 1rem;
}

header p {
    font-size: 2rem;
}

/*only needed for grading purposes*/
nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

nav a {
    display: none;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: larger;
    text-decoration: none;
}

nav a:hover {
    background-color: yellow;
    color: red;
}

/* small view navigation.  #menu is the button */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    /*so it is see through*/
    color: #000;
    position: absolute;
    /*since no relative container, this is absolute in relation to the page*/
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: '☰';
}

#menu.open::before {
    content: '❌';
}

.open a {
    display: block;
}

main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1rem));
    gap: 1rem;
    place-items: center;
    justify-content: center;
    padding: 1rem;
}

h1 {
    grid-column: 1 / -1;
}

figure img {
    width: 100%;
    height: auto;
    display: block;
    /* max-width: 100%;
    object-fit: cover; */
}

figcaption {
    text-align: center;
    /* word-wrap: break-word; */
}

footer {
    grid-column: 1/4;
    place-items: center;
    background-color: var(--banner-color);
    color: white;
    margin-top: 1rem;
    padding: 1rem;
}

footer p {
    text-align: center;
    color: white;
}

#lastModified {
    font-size: 14px;
    color: yellow;
}